/* цветовая схема: https://colorscheme.ru/#3.11Tw0w0w0w0  */

@import "fonts.css";
@import "vars.css";
@import "common.css";
@import "adaptive/adaptive.css";


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.global {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}