.main {
  flex: auto;
  background: linear-gradient(to top, var(--blue-3), var(--blue-2));
  position: relative;
}

.background-holder {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.2;
  filter: grayscale(1);
}

.index-page {
  background-image: url("../img/section-bg-main.jpg");
}

.live-music {
  background-image: url("../img/section-bg-live.jpg");
}

.electronic-music {
  background-image: url("../img/section-bg-electronic.jpg");
}

.site-section {
  color: #fff;
  position: relative;
}

.site-section__central {
  padding: 25px var(--site-section-horizontal-padding);
  width: calc(var(--central-part-width) - 2*var(--site-section-horizontal-padding));
  margin: 0 auto;
}

.site-section__breadcrumbs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.site-section__breadcrumbs-link {
  color: #fff;
  transition: color 0.25s linear;
}

.site-section__breadcrumbs-link:hover {
  color: var(--blue-5);
}

.site-section__h1,
.site-section__h2 {
  font-size: var(--font-size-h1);
  position: relative;
  margin-top: 15px;
}

.site-section__h2 {
  font-size: var(--font-size-h2);

}

.site-section__h1:after,
.site-section__h2:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -7px;
  height: 2px;
  background: linear-gradient(to right, #fff, transparent);
}

.site-section__genres-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--tile-gap);
  margin: 0 auto;
}

.site-section__genre-item {
  width: var(--tile-width);
  height: var(--tile-height);
  border: 1px solid var(--blue-5);
  position: relative;
}

.site-section__genre-cover {
  position: absolute;
  width: 100%;
  height: inherit;
  filter: grayscale(1);
}

.site-section__genre-link {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--transparent-blue-3);
  transition: background-color 0.4s linear;
  color: #fff;
  text-decoration: none;
  font-size: var(--genre-title-font-size);
}

.site-section__genre-item:hover .site-section__genre-link {
  background-color: var(--transparent-blue-4);
}

.site-section__medias-container {
  display: flex;
  justify-content: center;
}

.site-section__media-item {
  display: flex;
  flex-direction: column;
  align-items: center;;
  gap: 10px;
}

.site-section__performer-example {
  width: var(--performer-example-width);
  height: var(--performer-example-height);
}

.site-section__link {
  color: #fff;
  transition: color 0.25s linear;
}

.site-section__link:hover {
  color: var(--blue-5);
}

.site-section__ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}