:root {
  /* цвета */

  --transparent-blue-1: rgba(38, 82, 124, 0.5);
  --transparent-blue-3: rgba(4, 57, 108, 0.5);
  --transparent-blue-4: rgba(64, 138, 210, 0.5);
  --transparent-blue-5: rgba(103, 158, 210, 0.5);;
  --blue-1: #0C5AA6;
  --blue-2: #26527C;
  --blue-3: #04396C;
  --blue-4: #408AD2;
  --blue-5: #679ED2;

  /* размеры */

  --burger-container-padding: 10px;
  --burger-container-height: 20px;
  --global-padding-top: calc(var(--burger-container-height) + 2*var(--burger-container-padding));
  --header-top-part-height: 250px;
  --header-small-caption-font-size: 44px;
  --header-big-caption-font-size: 56px;
  --header-nav-gap: 50px;
  --header-nav-link-font-size: 24px;

  --site-section-horizontal-padding: 10px;
  --central-part-width: 1280px;
  --font-size-h1: 46px;
  --font-size-h2: 32px;
  --tile-gap: 15px;
  --tile-width: 500px;
  --tile-height: 150px;
  --genre-title-font-size: 40px;
  --performer-example-width: 350px;
  --performer-example-height: 300px;

}