@media (min-width: 768px) and (max-width: 959px) {
  :root {
    --header-top-part-height: 150px;


    --header-big-caption-font-size: 36px;
    --header-small-caption-font-size: 30px;

    --central-part-width: 720px;
    --font-size-h2: 24px;
    --tile-gap: 10px;
    --tile-width: 350px;
    --tile-height: 100px;

    --performer-example-width: 180px;
    --performer-example-height: 180px;
  }
}